body{
    overflow: hidden;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(15, 15, 15);
}

.tela{
    margin:0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#inicial{
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

#inicial>p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24pt;
    width: 90%;
    height: 20%;
    color:white;
    background-color: black;
    border-radius: 50%;
}

#inicial>button{
    font-size: 14pt;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 45px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 10px;
}

#inicial>img{
    width: 60%;
}

#introducao{
    display: none;
    background-color: black;
    justify-content: space-evenly;
    align-items: center;
}

#introducao>p{
    padding: 4px;
    width: 90%;
    font-size: 16pt;
    color: white;
}

#introducao>p:nth-child(2){
    text-align: right;
}

#introducao div{
    display: flex;
    width: 80%;
    justify-content: flex-end;
    align-items: center;
}

#introducao button{
    font-size: 15pt;
    font-weight: bolder;
    width: 40px;
    height: 40px;
    background-color: rgb(11, 83, 11);
    border: none;
    border-radius: 50%;
}

#p1{
    display: none;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
}

.pergunta{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 20%;
    font-size: 24pt;
    color:white;
    border: solid 1px white;
}

.alternativasFase1{
    font-size: 15pt;
    border: none;
    width: 50%;
    height: 10%;
    color: white;
    background-color: #000;
}