body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.tela{
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: solid 3px rgb(143, 103, 2);;
}

#inicial{
    justify-content: space-around;
    align-items: center;
}

#inicial>p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24pt;
    width: 90%;
    height: 20%;
    color:white;
    background-color: black;
    border-radius: 50%;
}

#inicial>button{
    font-size: 14pt;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 45px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 10px;
}

#inicial>img{
    width: 60%;
}