@media(max-width: 360px){
    
    h1{
        font-size: 16pt;
    }
    #introducao>p{
        font-size: 14pt;
    }

    #pergunta{
        font-size: 16pt;
    }

    #erro p{
        font-size: 18pt;
    }

    #tentarDeNovo{
        width: 150px;
        height: 45px;
        font-size: 12pt;
    }

}

@media (min-width: 440px){

    .tela{
        width: 400px;
        height: 90vh;
        border: solid 3px rgb(143, 103, 2);
    }
}